@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-row {
    @apply flex items-center gap-2;
  }

  .input {
    @apply border-2 border-gray-300 rounded-sm px-2 py-1 outline-none focus:border-gray-600;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
